.tabs-container{
	font-size:1.3em;
	width:90%;
	margin:0 auto;
	min-height:30px;
	overflow:hidden;
}
.tabs-container h2{
	width:100%;
	overflow:hidden;
}
.tabs-container h2 b{
	font-size:1em;
	color:#212121
}
.tabs-container h2 span{
	font-size:.8em;
	color:#939393
}
ul.article-list {
	list-style-type:none;
	width:90%;
	margin:0 auto;
}
ul.article-list li{
	width:48%;
	min-width:340px;
	min-height:2em;
	overflow:hidden;
	line-height:2em;
	font-size:1em;
	float:left;
}
ul.article-list li a{
	display:inline-block;
	width:75%;
	max-width:340px;
	min-width:340px;
	font-size:1em;
	color:rgba(130,124,250,.9);
}
ul.article-list li span{
	display:inline-block;
	width:24%;
	min-width:120px;
	font-size:.8em;
	color:#76FF86;
}
@media screen and (max-width:850px;){
	ul.article-list li span{
		position:relative;
		left:100px;
		
	}
}