*{
    padding: 0px;
    margin: 0px;
}
/*主框架，中间的一大块*/
.main{
	position: absolute;
	top: 200px;
	left: 0px;
	height:auto;
	width: 1060px;
	 margin: 20px auto 0px auto;
    z-index: 990;   	
}

/*文字层，说文解字*/

.main .led{
	height: 350px;
	width: 580px;
	background:#ff4169;
	float: left;
	
}
.led h3{
    color: rgba(185,46,177,1);
    font-size: 20px;
    margin-top: 10px;
}
.led p{
    font-size: 16px;
    color: white;
    display: block;
    height: auto;
    font-size: 18px;
    line-height: 30px;
    text-indent: 30px;
}


/*下边的文字层*/
.sens{
    float: left;
    height: auto;
    width:1060px;
    position: absolute;
    left: 0px;
    top: 40px;     
}
.sens .postTitle{
    font-family: "Microsoft YaHei",Verdana,Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    padding-left: 200px;
}
.sens .postTitle a{
    color: #ff8400;
}
.sens .postTitle a:hover{
    
     color: red;
}

/*下方的链接地址，提醒浏览的地址以及图片*/
.dontainer{
    float: left;
    height: auto;
    width: 1060px;
    
}

.lianjie{
    height: auto;
    width: 1060px;
    margin-bottom: 20px;
    
}

.sss2 a{
    display: block;
    border-radius: 6px;
    background: black;
    box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #ff00e4;
    font-family: "微软雅黑","宋体","黑体",Arial;
    font-size: 17px;
    font-weight: normal !important;
    height: 25px;
    width: 300px;
    line-height: 25px;
    margin: 15px 0 !important;
    padding: 5px 0 5px 50px;
    text-shadow: 2px 2px 3px #222222;
}

.sss2 a:hover{
    background: #93feff;
    color: white;
}


.jiesss{
    text-indent: 30px;
    color: #ff86a8;
    font-size: 14px;
    line-height: 1.5;
}

.lianjie img{
    padding-left: 150px;
}


/*你可能感兴趣的其他，以列表样式呈现*/

.sss3 a{
    display: block;
    border-radius: 6px;
    background: #93feff;
    box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color:orange;
    font-family: "微软雅黑","宋体","黑体",Arial;
    font-size: 17px;
    font-weight: normal !important;
    height: 25px;
    width: 1000px;
    line-height: 25px;
    margin: 15px 0 !important;
    padding: 5px 0 5px 50px;
    text-shadow: 2px 2px 3px #222222;
}

.sss3 a:hover{
    background: gray;
    color: white;

}

.lianjie1 ul{
     margin:50px 0px 0px 120px;
     float: left;

}

.lianjie1 li{
    list-style-type: none;
}

.lianjie1 li a{
    
    color: #ff00e4;
    font-size: 18px;
    display: block;
    height: 30px;
    line-height: 1.5;
    width: 380px;
    padding-left: 20px;
    margin-top: 10px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    background: url(../lianjie/icon_miniarrow.gif) no-repeat ;
    background-position:left;
}

.lianjie1 li a:hover{
    color:aqua;
}

/* 介绍一些其他的，是布局匀称*/
.jieshaoa{
    float: left;
    height: 200px;
    width: 1060px;
    margin-top: 50px;
    background: #a7ffeb;
    border-radius: 9px;

}
.gushi1{
    color: orange;
    height: 30px;
    width: 1055px;
    font-size: 20px;
    font-weight: bold;
    text-indent: 50px;
    border-radius: 9px 9px 0px 0px;
    border:3px solid #a472ff;
    border-bottom: 0px;
    background:#25ffce;
}
.gushi1:hover{
    color: white;
    border:3px solid #90ff72;
    border-bottom: 0px;
    background: #ff3188;
}
.gushi2{
    text-indent: 40px;
    height: 170px;
    line-height: 30px;
    color: gray;
    background: #fdff59;
    border-radius: 0px 0px 9px 9px;
    font-size: 16px;
    border:3px solid #a472ff;
}
.gushi2:hover{
    color: #ff0f0f;
    border:3px solid #90ff72;
    background: #ff8f8f;
}
.gushi2 a{
    color: #f158ff;
    font-size: 20px;
}
.gushi2 a:hover{
    font-size: 22px;
    color: #0efb19;
}
/*最下面的copyright，提醒浏览者版权所有*/
.footer1{
	height: 240px;
	width: 100%;
    background: #33aaff;
	position: absolute;
	left: 0px;
	top: 4800px;
    margin-bottom: 0px;
    
}
.ggga{
     width: 1000px;
     height: 100%;
     padding-top: 40px;
    margin: 0 auto;
    color: #fff;
   
}

.footer1 .ggga h4 a {
    color: #fff;
    float: right;
}

.friend_link_con {
    margin: 10px 0;
    overflow: auto;
    width: 100%;
}

.friend_link_con ul {
    display: inline;
    float: left;
    width: 920px;
}

.friend_link_con li {
    display: inline-block;
}
.friend_link_con li a {
    color: #fff;
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
}
.friend_link_con li a:hover{
    color: orange;
}
.friend_link_con {
    margin: 10px 0;
    overflow: auto;
    width: 100%;
}

.friend_link_t {
    color: #fff;
    display: inline;
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    width: 80px;
}
/*最底部的黑色copyright*/
.footer2{
    height:60px;
    width: 100%;
    background: #2e2e2e;
    position: absolute;
    left: 0px;
    top: 5040px;
    
}
.footer2 li{
    height: 30px;
    width: 100%;
    line-height: 30px;
   padding-left: 200px;
    list-style-type: none;
}


/*页面代码，显眼总共页数和其他*/
.page{
    position: absolute;
    top: 4700px;
    left: 300px;
    float: left;
}

.page a {
    border: 1px solid #999;
    color: #f33;
}
.page a {
    border-radius: 0;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0 2px;
    text-align: center;
    width: 26px;
}
.page > b, .page a {
    border-radius: 0;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0 2px;
    text-align: center;
    width: 26px;
}
.page > b, .page a:hover{
    background: #ffa8f2;
    color: #fff;
}

a:link, a:visited {
    text-decoration: none;
}



/*分享到各大网站的按钮*/
.fenxx{
    height:300px;
    width: 100px;
    float: right;
    position: fixed;
    right: 0px;
    top: 160px;
    z-index: 1100;
    background-color:#fdff80;

}
.bshare-custom li{
    display: block;
    height: 30px;
    width: 90px;
    padding-top: 10px;
    font-size: 16px;
}

.bshare-custom li a:hover{
    color: red;
    text-decoration: none;
}
/*右下方的链接到顶部*/
.footer{
    color: red;
    font-weight: bold;
    font-size: 30px;
    height: 50px;
    width: 35px;
    float: right;
    position: absolute;
    position: fixed;
    left: 1300px;
    top: 500px;
   
}

.xiass{
    height: 50px;
    width: 35px;
    float: right;
}