/*陈明安的原创*/
body{
	background: rgba(0, 0, 0, 0)linear-gradient(to right, #5ac8fb, #52edc7 100%)
	repeat scroll 0 0 / 100% auto;
}
*{padding: 0px; margin: 0px; }
#denglu{height: 40px;width: 220px;float: left;position: absolute;left: 800px;top: 0px;z-index: 1001;}
#deng1 li{list-style-type: none;height: 32px;width: 85px;display: block;background: rgb(168,245,240); 
	border: 0px solid yellow;float:left;line-height: 32px;text-align: center;}

#deng1 li a{color:rgba(0,0,0,0.5);text-decoration: none;font-size: 18px;}

.nav{	
	height:40px; width:1060px; background-color: rgba(76,99,201,1); margin:0px auto;
	box-shadow: 0 0 18px #256;border-radius: 5px; position: absolute;
	top: 40px; left: 0px; z-index: 1000;}

.nav .biaoti li:hover a{
	color: red;font-weight: normal; display:block;
	width: 127px; height: 40px; font-family: serif;
	background-color:rgba(255,255,255,0.2); transition:2s;}

 .hid3 li:hover {
	color: red; font-weight: inherit; display:block;
	width: 127px; height: 40px; font-family: serif; background:rgba(184,191,199,0.5);}

.main{ height: 150px; width: 1060px;
	 background: rgba(0, 0, 0, 0.5) linear-gradient(to right, #ffa6c1, #ff5c8d 100%) 
	 repeat scroll 0 0 / 100% auto;
    font-family: allura,cursive; border:0px solid pink;
	margin: 20px auto 0px auto; border-radius: 40px 40px 0px 0px;
	box-shadow-top: 0 0 40px white;position: relative; top: 95px; left: 0px;
	z-index: 800;float: left;}

.main  a{ text-decoration: blink; color: black;
	font-weight: bolder;}
.si a{ text-decoration: none; color: purple; font-weight: bold; }
.main .yuany1 .xyuay1{
	list-style-type: none;	
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 180px;
	position: absolute;
	top:35px;
	left: 100px;
	background-color: white;
}


.san{
	
	background: rgba(0, 0, 0, 0.5) 
	 linear-gradient(to right, #ffa6c1, #ff5c8d 100%) 
	 repeat scroll 0 0 / 100% auto;
	 height: 150px;
	 width: 1060px;
	 margin:0px auto;
	 padding: 0px;
	 border-radius: 0px;
	 position: relative;
	 z-index: 790;
	 float: left;
	}

.main .yuany2 .xyuay2{
	list-style-type: none;	
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 180px;
	position: absolute;
	top:25px;
	left: 550px;
	background-color: white;
}


.si{
	
	background: rgba(0, 0, 0, 0.5) 
	 linear-gradient(to right, #ffa6c1, #ff5c8d 100%) 
	 repeat scroll 0 0 / 100% auto;
	 height: 130px;
	 width: 1060px;
	 margin: 0px;
	 border-radius: 0px;
	 position: relative;
	 z-index: 780;
	 float: left;
}

.si .yuany3 .xyuay3{
	list-style-type: none;	
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 180px;
	position: absolute;
	top:80px;
	left: 100px;
	background-color: white;
}

.wu{

	background: rgba(0, 0, 0, 0.5) 
	 linear-gradient(to right, #ffa6c1, #ff5c8d 100%) 
	 repeat scroll 0 0 / 100% auto;
	 height: 150px;
	 width: 1060px;
	 margin: 0px;
	 border-radius:0px;
	 position: relative;
	 z-index: 760;
	 float: left;
}

.si .yuany4 .xyuay4{
	list-style-type: none;	
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 180px;
	position: absolute;
	top:80px;
	left: 550px;
	background-color: white;
}

.footer{
	
	background: rgba(0, 0, 0, 0) 
	linear-gradient(to right, #fb2b69, #ff5b37 100%)
	 repeat scroll 0 0 / 100% auto;
	 height: 110px;
	 width: 1060px;
	 margin-bottom: 0px;
	 border-radius:0px 00px 80px 80px;
	 position: relative;
	 float: left;
}

.footer a{
	list-style-type: none;
	color: black;
	text-decoration: none;
}
.pic1{
	float: left;
	position: absolute;
	left: 250px;
	top: 20px;
}

.pic2{
	float: left;
	position: absolute;
	right: 200px;
	top: 20px;
}

.pic3{
	float: left;
	position: absolute;
	left: 250px;
	top: 220px;
}

.pic4{
	float: left;
	position: absolute;
	right: 200px;
	top: 220px;
}

.tixing{
	float: left;
	position: relative;
	left: 350px;
	top: 150px;
	height: 40px;
	width: 400px;
	z-index: 950;
}


.footer .copy li{
	list-style-type: none;
	display: block;
	height: 36px;
	width: 1060px;
	line-height: 36px;
	text-align: center;
	float: left;
	
	} 



/*分享到各大网站的按钮*/
.fenxx{
    height:300px;
    width: 100px;
    border-radius: 9px;
    float: right;
    position: fixed;
    right: 20px;
    top: 160px;
    background: rgba(255,255,100,0.5);
    z-index: 1100;
    

}
.bshare-custom li{
    display: block;
    height: 30px;
    width: 90px;
    padding-top: 10px;
    font-size: 16px;
}

.bshare-custom li a:hover{
    color: red;
    text-decoration: none;
}

/* 百度地图属性值*/
#Map{
	width:1060px;
	height:550px;
	margin:0px 0px 0px 0px;
	position: relative;
	float: left;
}
#map{
	width: 1060px;
	height: 520px;
	position: absolute;
	top: 30px;
	left: 0px;
}
#Map .title{
	width: 1060px;
	height: 30px;
	background: #6699ff;
	color: #fff;
	font-size: 26px;
	text-align: center;
	line-height: 30px;
	float: left;
	z-index: 1000;
	
}
#Map .Search{
	width: 350px;height: 40px;float: left;
	position: absolute;top: 50px;left: 350px;
	box-shadow: 0px 0px 20px black;
	z-index: 1000;
}

#Map .Search input.txt{
	width:200px;  height:40px;background:white; border:0px;
    float: left;
}

#Map .Search input.but{
	width:150px; height:40px;background:#690; 
    color: #fff;font-size: 14px;border:0px;float: right;
}/**/

/*menu began*/

	#Menu{
		height: 120px;
		width: 110px;
		background: aqua;
		box-shadow: 0px 0px 10px black;
	}
	#Menu li{
		list-style-type: none;
		width: 110px;
		height: 30px; font-size: 12px;
		border-bottom:1px dotted #ddd;
		background: white; line-height: 30px;
		text-align: center;
	}
	#Menu  ul li:hover{
		background: #6699ff;
		color: #fff;
	}

.riddd{
	float: right;
	width: 388px;
	height: 300px;
	background: gray;
}