/*陈明安的原创*/

*{
	margin: 0px;
	padding: 0px;
}
.contanier{
	margin: 0px auto;
	width: 1060px;
	height: auto;
	position: relative;
}
.huzz{
	position: relative;
	width: 1060px;
	height: 40px;
	left: 0px;
	top: 0px;
	margin-top: 0px;
}

.juz{
	position: absolute;
	top: 0px;
	left: 100px;
	background-color: skyblue;
	height: 40px;
	width: 700px;
	border-radius: 10px;
	box-shadow: 0 0 15px #ddd; 
	text-align: center;
	font-size: 24px;
	font-style: normal;
	z-index: 1000;
	
	}

.juz a{
	color: red;
	text-decoration: none;
}


.nav ul .first,.second,.third,.fourth,.five,.six,.seven,.last{
	list-style-type:none;
	float:left;
	display: block;
	height:40px;
	width: 130px;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	border-right: 2px solid black;

}


.last{
	border-right: 0px;
}	


.nav ul .hid3{
	height: 0px;
	overflow: hidden;
	
}

.nav ul .hid3 li{
	list-style-type: none;
	height:40px;
	display: block;
	line-height: 40px;
	text-align: center;


}

.nav ul li a{
	
	color: yellow;
	text-decoration: none;

}

.nav  li:hover .hid3{
	height: 120px;
	width: 120px;
}

.nav  .biaoti .first:hover a{
	border-radius: 7px 0px 0px 7px;
}
.nav .biaoti .last:hover a{
	border-radius: 0px 7px 5px 7px;
}

