.main{
	position: relative;
	top: 95px;
	left: 0px;
	height:auto;
	width: 1060px;
	 margin: 20px auto 0px auto;
    z-index: 990;   
    	
}

/*图片或者视频的css*/
.main .juzz{
    position: absolute;
    top: 40px;
    left:300px;
    float: left;
}