
.main{
	position: absolute;
	top: 200px;
	left: 0px;
	height:1000px;
	width: 1060px;
	 margin: 20px auto 20px auto;
    z-index: 990;
       
}
/*中间的大块，包括leff和rigg*/
.kuaj{
	
	position: absolute;
	top: 40px;
	left: 0px;
	height: 960px;
	width: 1060px;
	background-color: #404155;
	/*background: rgba(0, 0, 0, 0) 
	linear-gradient(to right, #93ddff, #6aebcb 100%)
	 repeat scroll 0 0 / 100% auto;淡蓝色渐变*/
	
}
/*中间的左边的大块leff*/
.leff{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 960px;
	width: 280px;	
	border-right:15px solid white;
	z-index: 999;
	/*background: rgba(0, 0, 0, 0) 
	linear-gradient(to right, rgba(116,207,242,1), rgba(129,129,238,1) 100%)
	 repeat scroll 0 0 / 100% auto;/*淡紫色渐变*/
}

.tupa{
	float: left;
	width: 280px;
	height: 240px;		
}

.pic{
	position: absolute;
	top: 30px;
	left: 60px;
	width: 200px;
	height: 230px;	
}

.pic .nam{
	color: #d540b0;/*purple*/
	font-size: 20px;
	display: block;
	width: 200px;
	height: 25px;
	line-height: 25px;
	text-indent: 50px;
}

.pic .yixa{
	color: #4059d5;
	font-size: 18px;
	display: block;
	width: 200px;
	height: 25px;
	line-height: 25px;
	text-indent: 30px;
}

/*左边第二块，about me*/
.abaou{
	float: left;
	width: 280px;
	height: 720px;	
}
.abaou .aaa{
	display: block;
	width: 140px;
	height: 30px;
	background-color: rgba(2,157,214,1);
	color: #ff552d;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	margin: 10px 0px 10px 10px;
}

.abaou .aaa1{
	display: block;
	width: 260px;
	height: auto;
	color: blue;
	font-size: 20px;
	line-height: auto;
	margin-left: 20px;
	margin: 0px 0px 10px 20px;
		
}

.aaa1 span{
	color: rgba(255,76,255,1);
	margin-right: 5px;
}

.yixx {
	display: block;
	width: 260px;
	height: auto;
	line-height: auto;
	margin-left: 20px;
	margin: 0px 0px 10px 20px;
		
}

.yixx .yaa{
	display: block;
	width: 140px;
	height: 30px;
	background-color: rgba(2,157,214,1);
	color: orange;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	margin: 20px 0px 10px 2px;
}
.yixx .qiand{
	display: block;
	width: 140px;
	height:30px;
	line-height: 30px;
	text-align: center;
	color: red;
	font-size: 20px;
	margin-left: 30px;
	margin-top: 20px;

}
.qiand a{
	color: red;
	text-decoration: none;
}

/*中间的靠右边的大块rigg*/
.rigg{
	position: absolute;
	top: 0px;
	left: 280px;
	height: 960px;
	width: 765px;	
	z-index: 999;

}
/*右边第一大块*/
.sixx1{
	position: absolute;
	top: 0px;
	left:15px;
	height: 200px;
	width: 765px;	
	z-index: 999;
	margin-bottom: 20px;
	font-size: 16px;

}
.sixx1 p{
	display: block;
}

.conta1{
	height: 30px;
	width: 140px;
	line-height: 30px;
	text-align: center;
	background-color: #029dd6;
	font-size: 25px;
	color: blue;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: 25px;
	font-family:verdana,arial,sans-serif;
	
}
.conta{
	height: 30px;
	width: 765px;
	line-height: 30px;
	font-size: 20px;
	color:#009e86;
	padding-left: 50px;

}

.conta span{
	color: #ff2ef3;
	padding-right: 15px;
}

.conta .or{
	color: red;
	padding: 0px;
}

/*右边第二大块*/
.sixx2{
	position: absolute;
	top: 245px;
	left:15px;
	height: 300px;
	width: 765px;	
	z-index: 999;
	margin-bottom: 20px;
	/*background: rgba(0, 0, 0, 0) 
	linear-gradient(to right, #93ddff, #6aebcb 100%)
	 repeat scroll 0 0 / 100% auto;*/
}

.sixx2 .gg{
	color: red;
	font-size: 20px;
	display: block;
	height: 30px;
	width: 380px;
	line-height: 30px;
	text-align: left;

}

.sixx2 p{
	display: block;
	height: 30px;
	width: 380px;
	line-height: 30px;
	text-align: center;
}


.cont{
	position: absolute;
	top: 0px;
	left: 0px;
}
.cont dl{
	margin: 0px;
	padding:0px;

}
.cont dt{
	
	margin-left: 30px;
	margin-bottom: 10px;
	display: block;
	height: 30px;
	width: 140px;
	line-height: 30px;
	text-align: center;
	background-color: #029dd6;
	font-size: 25px;
	color: #ff405b;
	font-family:verdana,arial,sans-serif;
	
}

.cont .jind{
	margin-left: 50px;
	margin-bottom: 10px;	
	display: block;
	height: 15px;
	width: 300px;
	background-color: #fffeaf;
	border-radius: 180px;
	float: left;
	
}
/*名称介绍层的css*/
.cont span{
	color: green;
	padding-left: 20px;
	position: right;
}

.cont .s1{
	
	padding-left: 80px;
	position: right;
}

.cont .s2{
	
	padding-left: 95px;
	position: right;
}

.cont .s3{
	
	padding-left: 100px;
	position: right;
}

.cont .s4{
	
	padding-left: 105px;
	position: right;
}

.cont .s5{
	
	padding-left: 107px;
	position: right;
}

.cont .s6{
	
	padding-left: 95px;
	position: right;
}

.cont .s7{
	
	padding-left: 105px;
	position: right;
}

.cont .s8{
	
	padding-left: 98px;
	position: right;
}

.cont .s9{
	
	padding-left: 68px;
	position: right;
}
.cont .minc1{

	margin-left: 70px;	
	margin-bottom: 10px;
	display: block;
	height: 15px;
	width:310px;
	border-radius: 180px;
	float: left;
	color: #ff2ade;
	
}

.cont .minc2{
	margin-left: 70px;	
	margin-bottom: 10px;
	display: block;
	height: 15px;
	width:310px;
	border-radius: 180px;
	float: left;
	color: #6446ff;
	
}

/*软件技能子显示方法*/
/*覆盖层，显示比例*/
.cout1{
	position: absolute;
	left: 0px;
	top: 0px;

}
.cout1 .jind1{
	margin-left: 50px;	
	display: block;
	height: 15px;
	width: 230px;
	background-color: rgba(254,0,2,0.7);
	border-radius: 180px;
	float: left;
	position: absolute;
	top: 40px;
	left: 0px;
}
.cout1 .jind2{
	margin-left: 50px;	
	display: block;
	height: 15px;
	width: 250px;
	background-color:rgba(255,176,1,1);
	border-radius: 180px;
	float: left;
	position: absolute;
	top: 65px;
	left: 0px;
}

.cout1 .jind3{
	margin-left: 50px;	
	display: block;
	height: 15px;
	width: 170px;
	background-color: rgba(255,255,2,1);
	border-radius: 180px;
	float: left;
	position: absolute;
	top: 90px;
	left: 0px;
}

.cout1 .jind4{
	margin-left: 50px;	
	display: block;
	height: 15px;
	width:150px;
	background-color: rgba(173,255,7,1);
	border-radius: 180px;
	float: left;
	position: absolute;
	top: 115px;
	left: 0px;
}

.cout1 .jind5{
	margin-left: 50px;	
	display: block;
	height: 15px;
	width:230px;
	background-color: rgba(1,255,2,1);
	border-radius: 180px;
	float: left;
	position: absolute;
	top: 140px;
	left: 0px;
}
.cout1 .jind6{
	margin-left: 50px;	
	display: block;
	height: 15px;
	width:270px;
	background-color: rgba(0,170,180,1);
	border-radius: 180px;
	float: left;
	position: absolute;
	top: 165px;
	left: 0px;
}

.cout1 .jind7{
	margin-left: 50px;	
	display: block;
	height: 15px;
	width:180px;
	background-color: rgba(2,250,250,1);
	border-radius: 180px;
	float: left;
	position: absolute;
	top: 190px;
	left: 0px;
}
.cout1 .jind8{
	margin-left: 50px;	
	display: block;
	height: 15px;
	width:240px;
	background-color: rgba(10,169,238,1);
	border-radius: 180px;
	float: left;
	position: absolute;
	top: 215px;
	left: 0px;
}

.cout1 .jind9{
	margin-left: 50px;	
	display: block;
	height: 15px;
	width:130px;
	background-color: rgba(1,0,252,0.7);
	border-radius: 180px;
	float: left;
	position: absolute;
	top: 240px;
	left: 0px;
}

.cout1 .jind10{
	margin-left: 50px;	
	display: block;
	height: 15px;
	width:250px;
	background-color: rgba(255,0,179,0.7);
	border-radius: 180px;
	float: left;
	position: absolute;
	top: 265px;
	left: 0px;
}
/*第3块的开始*/
.sixx3{
	position: absolute;
	top: 540px;
	left:15px;
	height: auto;
	width: 765px;	
	z-index: 999;	
	margin-bottom: 20px;
}
/*上边的一块*/
.zu{
	float: left;
	margin-left: 25px;
	width: 730px;
	height: 100px;
	
}
 
.zu .gg{
	height: 30px;
	width: 140px;
	line-height: 30px;
	text-align: center;
	background-color: #029dd6;
	font-size: 25px;
	color: #ff37d7;
	margin-bottom: 10px;
	font-family:verdana,arial,sans-serif;
}
.zu .tui{
	padding-left: 30px;
	color: #7358e6;
	display: block;
	height: 30px;
	line-height: 30px;
	width: auto;
	font-size: 20px;
}
 /*右边的一块*/
.yo{
	float: left;
	margin-left: 30px;
	width: 730px;
	height: 200px;
	
}

.yo .gg{
	height: 30px;
	width: 140px;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	color: #ff9037;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family:verdana,arial,sans-serif;
	background-color: #029dd6;
}
.nian{
	padding-left: 30px;
	color: #ff5a39;
	font-size: 20px;
}
.nian .nianf{
	color: blue;
	padding-right: 10px;
}
.nian .daz{
	color: white;
	padding-left: 20px;
}
.nian a{
	color: #ff5a39;
	text-decoration: none;
	
}
.suoxiu{
	display: block;
	width: 600px;
	padding-left: 60px;
	color: #029dd6;
	font-size: 20px;

}



/*第四块的开始*/
.sixx4{
	position: absolute;
	top: 810px;
	left:15px;
	height: auto;
	width: 765px;	
	z-index: 999;
	/*background: rgba(0, 0, 0, 0) 
	linear-gradient(to right, #93ddff, #6aebcb 100%)
	 repeat scroll 0 0 / 100% auto;渐变蓝*/
}

.ping{
	height: 30px;
	width: 140px;
	line-height: 30px;
	text-align: center;
	background-color: #029dd6;
	font-size: 25px;
	color: #fd3636;
	margin-left: 30px;
	margin-bottom: 8px;
	font-family:verdana,arial,sans-serif;
}

.sixx4 .pia{
	text-indent: 30px;
	margin-left: 40px;
	color: rgba(1,250,2,1);
	font-size: 18px;
}

/*最底部的footer*/
.footer{
	position: absolute;
	left: 0px;
	top: 1225px;
	float: left;
	height:60px;
	width: 1060px;
    z-index: 990;
    background-color: #393a4c;
}

.footer .hh{
	display: block;
	height: 40px;
	width: 1060px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	color: white;
}
.footer .copa{
	display: block;
	height: 20px;
	width: 1060px;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	color: gray;
	word-spacing: 7px;
}

/*分享到各大网站的按钮*/
.fenxx{
    height:300px;
    width: 100px;
    float: right;
    position: fixed;
    right: 0px;
    top: 160px;
    z-index: 1100;
    background-color:#fff1fe;

}
.bshare-custom li{
    display: block;
    height: 30px;
    width: 90px;
    padding-top: 10px;
    font-size: 16px;
}

.bshare-custom li a:hover{
	color: red;
	text-decoration: none;
}