<footer  class="footnote footnote-tiffany">
    <div class="container">
            <a class="foot-item" title="后续根据需求可以添加字体图标即可" href="mailto:{{ site.email }}" target="_blank">
                email
            </a>
            <a class="foot-item" href="{{ site.url }}" target="_blank">
                github
            </a> 
            <a href="{{ site.github_username | prepend:'/' | prepend:site.baseurl |   prepend: site.url }}">
                <strong >&copy; ManixChen</strong></a>
    </div>
</footer> 
</div>
  {% for script in page.scripts %}
    <script type="text/javascript" src="{{'/static/js/' | append:script | prepend:site.baseurl | prepend: site.url  }}"></script>
    {%endfor%} 