<footer  class="footnote footnote-tiffany">
    <div class="container">
            <a class="foot-item" title="后续根据需求可以添加字体图标即可" href="{{ site.csdn }}" target="_blank">
                csdn
            </a>
            <a class="foot-item" href="{{ site.url }}" target="_blank">
                ManixChen
            </a>
            <a href="{{ site.github}}"  target="_blank">
                <strong >&copy; github</strong></a>
    </div>
</footer>
</div>
  {% for script in page.scripts %}
    <script type="text/javascript" src="{{'/static/js/' | append:script | prepend:site.baseurl | prepend: site.url  }}"></script>
    {%endfor%}
