body{
    background: linear-gradient(102.7deg, rgba(253, 218, 255,0.2) 8.2%, rgba(223, 173, 252,0.3) 19.6%,
     rgba(173, 205, 252,0.5) 36.8%, rgba(173, 252, 244,0.5) 73.2%, rgba(202, 248, 208,0.5) 90.9%);

}


  a,p,span{
    text-decoration: none;
    color: rgb(48, 45, 85);
}
ul,li{
    list-style: none;
    padding: 0;
}
[justify="center"]{
    display: flex;
    justify-content: center;
}
.el-menu{background: transparent;}


/* 默认等待6秒 */
 .loading-box {
     /* transition: all 1s;   */
     /* transition: width 1.5s ease, color 0.8s, transform 1s 0.5s ease-in-out;  */
     position: fixed; 
     left: 0;
     top: 0;
     z-index: 111;
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
      
     animation: colorswitch 4s 4 ease;
     -moz-animation: colorswitch 4s 4 ease;
     -webkit-animation: colorswitch 4s 4 ease;
     -o-animation: colorswitch 4s 3; 
     
    /* animation-name:colorswitch;
    animation-duration:4s;
    animation-iteration-count: infinite;
    transform: initial;  */
 }

 /* 加载完毕只等待三秒，飞出屏幕外 */
 .loading-box.loaded {
    transform:  scale(0) rotate(360deg);
    transition: transform 1.2s ease-in-out;
    color: #000; 
    z-index: -100;
 } 

 @keyframes colorswitch {
     0% {
         background: rgba(255, 100, 100, 1)
     }

     16% {
         background: rgba(59, 255, 227, 1)
     }

     32% {
         background: rgba(213, 102, 255, 1);
     }

     49% {
         background: rgba(255, 222, 126, 1)
     }

     65% {
         background: rgba(44, 211, 137, 1);
     }

     81% {
         background: rgba(rgb(154, 213, 255), 1)
     }

     100% {
         background: rgba(255, 100, 100, 0.8);
         /* left:-150%; */
     }
 }

 /* Firefox */
 @-moz-keyframes colorswitch {

     0% {
         background: rgba(255, 100, 100, 1)
     }

     16% {
         background: rgba(59, 255, 227, 1)
     }

     32% {
         background: rgba(213, 102, 255, 1);
     }

     49% {
         background: rgba(255, 222, 126, 1)
     }

     65% {
         background: rgba(44, 211, 137, 1);
     }

     81% {
         background: rgba(rgb(154, 213, 255), 1)
     }

     100% {
         background: rgba(255, 100, 100, 0.8);
         /* left:-150%; */
     }
 }

 /* Safari and Chrome */
 @-webkit-keyframes colorswitch {

     0% {
         background: rgba(255, 100, 100, 1)
     }

     16% {
         background: rgba(59, 255, 227, 1)
     }

     32% {
         background: rgba(213, 102, 255, 1);
     }

     49% {
         background: rgba(255, 222, 126, 1)
     }

     65% {
         background: rgba(44, 211, 137, 1);
     }

     81% {
         background: rgba(rgb(154, 213, 255), 1)
     }

     100% {
         background: rgba(255, 100, 100, 0.8);
         /* left:-150%; */
     }
 }

 /* Opera */
 @-o-keyframes colorswitch {

     0% {
         background: rgba(255, 100, 100, 1)
     }

     16% {
         background: rgba(59, 255, 227, 1)
     }

     32% {
         background: rgba(213, 102, 255, 1);
     }

     49% {
         background: rgba(255, 222, 126, 1)
     }

     65% {
         background: rgba(44, 211, 137, 1);
     }

     81% {
         background: rgba(rgb(154, 213, 255), 1)
     }

     100% {
         background: rgba(255, 100, 100, 0.8);
         /* left:-150%; */
     }
 }








 /* 中心动画 */
 .spinner {
     width: 16rem;
     height: 16rem;
     position: relative;
     margin: 100px auto;
 }

 .spinner p.loading-text {
     position: absolute;
     top: 110%;
     left: -100px;
     z-index: 300; 
     width: 350px;
     color: #000;
     opacity: 1;
     font-size: 1.3rem;
     font-weight: 600;
     text-align: center;
 }

 .double-bounce1,
 .double-bounce2 {
     width: 100%;
     height: 100%;
     border-radius: 50%;
     /* background: #000; */
     opacity: 1;
     position: absolute;
     top: 0;
     left: 0;

     -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
     animation: sk-bounce 2.0s infinite ease-in-out;
 }

 .double-bounce2 {
     -webkit-animation-delay: -1.0s;
     animation-delay: -1.0s;
 }

 @-webkit-keyframes sk-bounce {

     0%,
     100% {
         -webkit-transform: scale(0.0)
     }

     50% {
         -webkit-transform: scale(1.0)
     }
 }

 @keyframes sk-bounce {

     0%,
     100% {
         transform: scale(0.0);
         -webkit-transform: scale(0.0);
     }

     50% {
         transform: scale(1.0);
         -webkit-transform: scale(1.0);
     }
 }
/* 分页 */
.pager-container{
    height: 80px;
      display: flex;
      justify-content: center;
  }
  ul.pagers {  
    user-select: none;
    list-style: none;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    display: flex;
    height: 60px;
    line-height: 60px;
    align-items: center;
    justify-content: center;
}
  .pagers li.is-active {
      /* color: var(--el-pagination-hover-color); */
      cursor: default;
      font-weight: 700;
  }
  .pagers li  a{ 
      padding: 1px 4px;
      margin: 0 5px; 
      border-bottom: 1px solid transparent;
      border-radius: var(--el-pagination-border-radius);
      cursor: pointer; 
  }
  .pagers li a:hover{
    color:  linear-gradient(103deg, rgb(252, 102, 104) 0%, rgb(225, 4, 137) 100%);
      border-bottom: 1px solid #fff;
  }

  .footnote{
    margin: 30px 0 0 0;
    padding: 15px;
    text-align: center;
  }

  .footnote a{
    margin: 5px 8px 8px 8px; 
    text-align: center;
    font-size: 1.3rem;
  }

  .timeline-box{
    display: flex;
    justify-items: center;
    position: relative;
  }
  .timeline-box .timeline-img{
    flex: 1;
  }
  .timeline-box  .timeline-content{
    flex: 5;
    padding: 0 10px;
  }
  .timeline-box  .time-date{
    position: absolute;
    right: 0;
    bottom: 1px;
    color: #e5e5e5;
  }


  /* 技术栈 */
  .category-tab-box .article-tags{
    margin: 15px 0;
    display: block;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .category-tab-box .article-tags .pull-right{
    float: right;
    margin-right: 300px;
  }
  .category-tab-box .article-tags .pull-right a{
    margin: 0 10px;
    border: 1px solid #e5e5e5;
    padding: 5px 15px;;
  }
 

  .category-tab-box .categori-tag{
    background-color: #e5e5f5;
    border-bottom: 1px solid #ddd;
    padding: 3px 2px;
    color: #333;
    margin: 0 10px;
  }

  @media screen and(min-width:1280px) and(max-width:1680px){
        
    .category-tab-box .el-timeline-item{
        display: inline-block;
        max-width: 48%;
    }
  }


  /* 技术中心 */
  .tab-box-container .post-excerpt{
     height: auto;
  }
  .article-box .article-intro-head{
    padding-left: 50px;
  }

  /* 博客 */
  .article-box-container{
    font-size: 1.1rem;

  }
  .blog-article-box{
    min-height: 400px;    
    background: rgba(255,255,115,0.3);
    padding: 15px;
    border-radius: 15px;
  }
  .blog-article-box img{
    width: 50%;
    margin: 30px auto;
  }

  .blog-article-bottom{
     padding: 15px;
  }

  .blog-article-bottom  a{
     padding: 5px 8px;
     border-bottom: 1px dashed #303030;
     margin: 8px 15px;
  }


  .nav-padding  .el-collapse>div button,.nav-padding  .el-collapse>div a{
    padding: 0 20px;
  }


  /* 评论库 */
  .blog_content_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blog_content_container  #gitalk-container{
    width: 80%;
    max-width: 800px;
    height: 250px;
    margin: 30px;
  }

  [v-cloak ]{
    opacity: 0;
   }

   /* 返回顶部 */
   .el-backtop{
    z-index: 200;
   }

   /* 页内搜索 */
   .flex-grow{
        
    flex-grow: 1;
   }
   .search-container{ 
        float: right;
        width: 200px;
   }

   .search-container input.search{ 
        width: 200px;
        height: 40px;
        border: 2px solid #e5e5e5;
        border-radius: 4px;
   }
   .search-container ul{
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 150;
    background-color: #fff;
    padding: 0;
   }
   .search-container ul li{ 
        height: 32px;
        line-height: 32px;
        padding: 2px 6px;
        border-bottom: 1px solid #e5e5e5;
        cursor: pointer;
        overflow: hidden;
   }
