.tag-box {
    list-style: none;
    margin: 0;
    padding: 4px 0;
    overflow: hidden;
    *zoom: 1;
}

.tag-box:before, .tag-box:after {
    display: table;
    content: "";
    line-height: 0;
}

.tag-box:after {
    clear: both;
}

.tag-box.inline li {
    float: left;
    font-size: .9em;
    line-height: 1.4em;
    margin: 12px 6px 8px 0;
}

.tag-box a {
    padding: 10px 15px;
    background-color: #e6e6e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #FF7431;
}
.tag-box a span {
    vertical-align: super;
    font-size: 10px;
    font-size: 0.875rem;
}
.tag-box a:hover{
  background-color: #8BFF7E;
  color: #F76400;
}
div.container h1,article h2{
  color: #746767;
  font-size: 1.4em;
}
article li{
  list-style: none;
  line-height: 2em;
  float: left;
}
article a{
  color: #FF7431;
  margin-left: 1.3em;
}
.my-tags li span{
  font-size: 1em;
  color: #3E3434;
  margin-left: 1.6em;
}
@media  screen and (max-width:1111px) {

}
