*{
	padding: 0px;
	margin: 0px;
}

.contanier{
	margin: 0px auto;
	width: 1060px;
	height: auto;
	position: relative;
	z-index: 1;

}

.main{
	position: absolute;
	top: 200px;
	left: 0px;
	height:640px;
	width: 1060px;
	 margin: 20px auto 0px auto;
    z-index: 990;
    	
}

.main .lef{
	position: absolute;
	left: 0px;
	top: 60px;
	width: 700px;
	height: 600px;
	line-height: 28px;
	float: left;
	z-index: 1000;
	padding-right: 30px;
	background: rgba(0, 0, 0, 0) url("../../image/biank.jpg")
	 repeat-y scroll right center;
}
.lef .jies{
	font-size: 20px;
	font-style: normal;
	color: #ff34f3;
}

.lef ul p{
	text-indent: 30px;
	font-size: 16px;
	margin-bottom: 20px;
	color: #9b93ff;
}

.main .rig{
	position: absolute;
	left: 800px;
	top: 60px;
	float: right;
	width: 	260px;
	height: 600px;
	z-index: 1000;
	 line-height: 28px;
	 background: rgba(0, 0, 0, 0) url("../../image/1111.jpg")
	 no-repeat scroll bottom right;
	
}
.rig .abt{
	color: #ff6e35;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}
.rig span{
	color: #ff34f3;
}
.rig p{
	color: #ff7979;
}
.rig .ding1{
	margin: 20px 40px 20px 15px;
}
.rig .ding2{
	margin: 20px 40px 20px 15px;
}

.xieg{
	color: #44ff4d;
	text-indent: 30px;

}
.footer{
	position: absolute;
	top: 895px;
	left: 0px;
	font-size: 18px;
	height: 30px;
	width: 1060px;
	line-height: 30px;
	text-align: center;
	font-weight: normal;
	color: gray;
}

/*分享到各大网站的按钮*/
.fenxx{
    height:300px;
    width: 100px;
    float: right;
    position: fixed;
    right: 0px;
    top: 160px;
    z-index: 1100;
    background-color:#fff1fe;

}
.bshare-custom li{
    display: block;
    height: 30px;
    width: 90px;
    padding-top: 10px;
    font-size: 16px;
}

.bshare-custom li a:hover{
    color: red;
    text-decoration: none;
}