---
layout: default
title: 技术栈
permalink: /category/
icon: octicon-list-unordered
isNavItem: true
styles : [elementplus.css,index.css,style.css]
scripts: [index.js]
---

<el-row justify="center">
    <el-col>
      <br>
      <br>
      <h1 justify="center">欢迎来到   {{page.title}}</h1>
      <br>
      <br>
    </el-col>
    <el-col :sm="24">
        <el-tabs tab-position="left"  class="category-tab-box">
            <el-tab-pane label="All"  >
                <el-timeline>
                    {% for post in site.posts %}
                        <el-timeline-item  timestamp="{{ post.date | date: '%Y-%m-%d' }}" placement="bottom">
                            <el-card>
                              <div class="timeline-box">
                                  <div class="timeline-img ">
                                      <img src="{{ '/clock.webp' | prepend: site.imgrepo }}" alt="Picture">
                                  </div>
                                  <div class="timeline-content">
                                    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                                      <div class="post-excerpt" >
                                            {% if post.excerpt.size > 32 %}
                                            {{ post.excerpt }}
                                            {% else %}
                                            {{ post.content | strip_html | strip_newlines | truncate: 300 }}
                                            {% endif %}

                                        </div>

                                    <div class="article-tags">
                                        {% for tag in post.tags %}
                                        <a class="categori-tag" href="{{ site.baseurl | prepend: site.url }}/tags/#{{ tag }}">
                                              {{ tag }}
                                        </a>
                                        {% endfor %}

                                        <div class="pull-right">

                                            <span class="time-date">{{ post.date | date: '%Y-%m-%d' }}</span>
                                            <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}#post-comment">
                                                Comment
                                                </a>
                                                <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}#post-share">
                                                Share
                                                </a>
                                                <a class="readmore" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">Read More</a>

                                        </div>
                                    </div>
                                  </div>
                              </div>
                            </el-card>
                          </el-timeline-item>
                    {% endfor %}
                </el-timeline>
            </el-tab-pane>
            <!-- 面板对应的选项 -->
            {% for category in site.categories %}
                <el-tab-pane label="{{ category | first }}" title="({{ category | last | size }})">
                    <!-- <el-badge value="{{ category | last | size }}" max="99" class="item">
                         {{ category | first }}
                        </el-badge> -->

                    <el-row class="article-box" justify="center">
                    {% for posts in category  %}
                    {% for post in posts %}
                    {% if post.url %}

                    <el-col class="article-box-cloum"  :sm="24" :md="12" :lg="8" >
                        <article style="max-width: 300px;">
                        <!-- <header justify="center">
                            <img src="{{'/static/img/cat@1366@768.webp' | prepend:site.baseurl | prepend: site.url  }}" alt="">
                        </header> -->
                        <main class="module">
                            <div class="article-title">
                            <a class="title" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                                {{ post.title }}
                            </a>
                            </div>
                            {% if post.excerpt.size > 32 %}
                            <div class="post-excerpt">
                                {{ post.excerpt }}
                            </div>
                            {% else %}
                            <div class="post-excerpt" >
                                {{ post.content | strip_html | strip_newlines | truncate: 300 }}
                            </div>
                            {% endif %}


                            <div class="article-tags">
                                {% for tag in post.tags %}
                                <a class="categori-tag" href="{{ site.baseurl | prepend: site.url }}/tags/#{{ tag }}">
                                    <span class="octicon octicon-tag"></span> {{ tag }}
                                </a>
                                {% endfor %}
                                <span class="word-keep pull-right">
                                <a class="datetime" href="{{ site.baseurl | prepend: site.url  }}/archive/#{{ post.date | date: '%Y-%m-%d' }}">
                                    {{ post.date | date: "%Y-%m-%d" }}
                                </a>
                                </span>
                            </div>

                        </main>
                        <footer>

                            <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}#post-comment">
                            Comment
                            </a>
                            <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}#post-share">
                            Share
                            </a>
                            <a class="readmore" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">Read More</a>

                        </footer>
                        </article>
                    </el-col>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </el-row>
                </el-tab-pane>
            {% endfor %}

          </el-tabs>

    </el-col>

</el-row>
