<!DOCTYPE html>
<html>

{% include head.html %}

<body >
<div id="app"   v-cloak  >
{% include header.html %}


  <div class="loading-box"   :class="`${loading?'loading':'loaded'}`"
  body
  fullscreen  v-loading="loading"
  :title="message" >
      <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
          <p class="loading-text">
              请稍等ManixChen正在解析过程中………
          </p>
      </div>
  </div>

<div class="main" >
    {{ content }}
    <el-backtop :right="100" :bottom="100" ></el-backtop>


    <div class="blog_content_container" title="git  gitalk 评论区 ">
        <div  id="gitalk-container" ></div>
    </div>
</div>
<div class="epcl-waves-wrapper">

</div>
</div>
  {% include footer.html %}

</body>
</html>
