<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
		<!---->
		{% include header.html %}
	<!--大包围---->
    <div class="container">
		<!--左侧文章整体部分-->
		<div class="page-content">
		  <div class="wrapper">
			{{ content }}
		  </div>
		</div>
		<!--右侧的所属标签分类-->
		<div class="tabs">
			<!--分类标签-->
			<h3>分类标签(<a href="https://manixchen.github.io/allTabs.html">所有分类</a>)</h3>
			{% for category in site.categories %}
			<span class="my-tabs"><a href="/showCategory.html?categoryName={{ category | first }}">{{ category | first }}</a>({{ category | last | size }})</span>
			<!--</span>{{ category | last | size }}</span>
			<ul class="arc-list">
				{% for post in category.last %}
					<li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>-->
			{% endfor %}
		</div>
	</div>
	<!--
	<h4>分类列表</h4>  
    <hr>  
    {% for category in site.categories %}  
    <li class="category_list_item"><a href="/showCategory.html?categoryName={{ category | first }}">{{ category | first }}</a> ({{ category | last | size }})  
    </li>  
    {% endfor %}  
	-->
		{% include footer.html %}

  </body>

</html>
